
.rSection {
  background: linear-gradient(135deg, #062f4f, #d6eaf3); 
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}


.rSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.40);   
  backdrop-filter: blur(8px);              
  -webkit-backdrop-filter: blur(8px);
  z-index: 0;
}


.rSection * {
  position: relative;
  z-index: 1;
}



.sBox {
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
  padding: 15px;
}



.slect {
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(200, 200, 200, 0.5) !important;
  color: #020d0b !important;
  border-radius: 12px;
  padding: 10px;
}

.slect option {
  color: #000;
}



.archBtn {
  background: rgba(255, 255, 255, 0.35) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 10px 0;
  color: #114d44 !important;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.archBtn:hover {
  background: rgba(255, 255, 255, 0.55) !important;
  transform: translateY(-2px);
}



.thead {
  font-size: 34px;
  font-weight: 800;
  color: #0c0c0c;
  margin: 0;
  line-height: 1.2;
}



.tImage {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.09);
}



@media (max-width: 767px) {
  .thead {
    text-align: center;
    font-size: 28px;
  }

  .tImage {
    margin-top: 20px;
  }

  .sBox {
    margin-top: 25px;
  }
}
